html
  head
    title NZ QUOTES
    link(rel="stylesheet" href="quotes.css")
  body
    .container
        h1 NZ Quotes Page
        p Welcome, #{name} (#{email})!
        // Display quotes content here